<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Burgers</title>
</head>
<body>
	<header>
		<h1>Eat the Burger</h1>
	</header>
	{{{body}}}
</body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/app.js"></script>
</html>